html {
  font-family: adelle-sans, sans-serif;
  font-style: normal;
  font-weight: 400;
}

nav {
  font-size: 21px;
}

ul {
  list-style: none;
}

body {
  /* text-align: center; */
  font-style: normal;
  font-size: 20px;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.container--narrow {
  max-width: 30rem;
}

a {
  text-decoration: none;
  color:inherit;
}

.header__item {
  display: inline-block;
  /* text-align:; */
  padding: 0.8em 0.2em;
}

article {
  margin:auto;
}

.longform {
  font-family: georgia, serif;
  color:rgba(22,22,22,0.9)
}

.home_heading {

}