nav {
    display: block;
  }
  
  body {
    text-align: center;
  }

  section {
    text-align: center;
  }

  h1 {
    text-align: left;
  }

  h2 {
    text-align: left;
  }

  h3 {
    text-align: left;
  }

  p {
    text-align: left;
  }

  ol {
    text-align: left;
  }