html {
  font-family: adelle-sans, sans-serif;
  font-style: normal;
  font-weight: 400;
}

ul {
  text-align:left;
  padding:0%
}



body {
  /* text-align: center; */
  font-style: normal;
  font-size: 20px;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.container--narrow {
  max-width: 45rem;
}

figure {
  text-align: center;
}

img {
  max-width: 100%;
  max-height: 100%;
}

figcaption {
  text-align: center;
  font-size: 12px;
  font-style: italic;
}

a {
  color:inherit;
}

.header__links {
  text-decoration: none;
  color:inherit;
}

.header__item {
  display: inline-block;
  padding: 0.8em 0.2em;
  font-size: 21px;
}

article {
  margin:auto;
}

.longform {
  font-family: georgia, serif;
  color:rgba(22,22,22,0.9)
}
